:root {
  font-size: 12px;
}

@media (max-width: 992px) {
  :root {
    font-size: 10px;
  }
}

$color-white: #ffffff;
$color-white-2: #f4f4f4;
$color-black: #000000;
$color-gray: #dee2e6;
$color-gray-2: #343a40;
$color-gray-3: #495057;
$color-gray-4: #e9ecef;
$color-blue: #2789c9;
$color-blue-2: #8ab4f8;
$color-green: #147d35;
$color-green-2: #2d6a4f;
$color-yellow: #f3eddf;
$color-red: #c40d3c;
$color-red-2: #ff595e;
$color-orange: #ff671f;

$color-safe: #e9ecef;
$color-low: #ced4da;
$color-mid-low: #adb5bd;
$color-mid: #6c757d;
$color-mid-high: #343a40;
$color-high: #212529;
