:root {
  font-size: 12px;
}

@media (max-width: 992px) {
  :root {
    font-size: 10px;
  }
}

$color-white: #ffffff;
$color-black: #000000;
$color-gray: #41316499;
$color-blue: #8AB4F8;
$color-green: #8FCCA0;
$color-yellow: #F3EDDF;