:root {
  font-size: 12px;
}

@media (max-width: 992px) {
  :root {
    font-size: 10px;
  }
}

$color-white: #ffffff;
$color-black: #000000;
$color-gray: #dee2e6;
$color-gray-2: #343a40;
$color-gray-3: #495057;
$color-gray-4: #dee2e6;
$color-blue: #2789c9;
$color-blue-2: #8ab4f8;
$color-green: #147d35;
$color-green-2: #2d6a4f;
$color-yellow: #f3eddf;
$color-red: #c40d3c;
$color-red-2: #ff595e;
$color-orange: #ff671f;
