.map {
  width: 100vw;
  height: 100vh;

  &-not-clickable {
    pointer-events: none;
  }

  &-bottom-sheet {
    &-loading {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
