@import "../../assets/styles/variables";

.custom-cluster {
  border-radius: 50%;
  color: #212121;
  width: 40px !important;
  height: 40px !important;
  opacity: 0.9;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 20px !important;
  font-size: 14px !important;
  font-weight: bold;
  padding: 12px;

  &-inner {
    &-safe {
      background-color: $color-safe;
      border: 5px solid rgba($color-white, 10);
      color: $color-high;
    }

    &-low {
      background-color: $color-low;
      border: 5px solid rgba($color-safe, 10);
      color: $color-high;
    }

    &-mid-low {
      background-color: $color-mid-low;
      border: 5px solid rgba($color-low, 10);
      color: $color-high;
    }

    &-mid {
      background-color: $color-mid;
      border: 5px solid rgba($color-mid-low, 10);
      color: $color-safe;
    }

    &-mid-high {
      background-color: $color-mid-high;
      border: 5px solid rgba($color-mid, 10);
      color: $color-safe;
    }

    &-high {
      background-color: $color-black;
      border: 5px solid rgba($color-mid-high, 10);
      color: $color-safe;
    }
  }
}
