@import "../../../app/assets/styles/variables";

.custom {
  &-popup {
    bottom: 10px !important;

    &-container {
      min-width: 300px;
      padding: 0.8rem 0.5rem;
    }

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 0.5rem;
      border-bottom: 2px solid $color-gray;

      &-title {
        font-size: 1.3rem;
        font-weight: 700;
      }

      &-provider {
        font-size: 1.3rem;
        text-decoration: none;
        font-weight: 700;
      }
    }

    &-suitability {
      font-size: 1.2rem;
      font-weight: 700;
      padding-top: 0.8rem;

      &-okay {
        color: $color-green !important;
      }

      &-notokay {
        color: $color-red-2 !important;
      }

      p {
        margin: 0;
      }
    }

    &-location {
      display: flex;
      gap: 0.5rem;
      align-items: center;

      &-icon {
        font-size: 2rem;
        fill: $color-gray-2;
        color: $color-gray-2;
      }

      &-text {
        font-size: 1rem;
        font-weight: 400;
      }
    }

    &-socket {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-container {
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        padding: 0.5rem 0;
        gap: 5px;
        margin-bottom: 1rem;

        p {
          margin: 0;
        }

        &-icon {
          background-color: $color-gray-2;
          color: $color-gray;
          padding: 5px;
          border-radius: 15px;

          &-okay {
            background-color: $color-green-2 !important;
          }
        }
      }
    }

    &-button {
      width: 100%;
      padding: 1rem 0;
      margin-bottom: 0.5rem;
      border: none;
      font-size: 1.2rem;
      cursor: pointer;
    }

    &-direction {
      background-color: $color-gray-3;
      color: $color-white;

      &:hover {
        background-color: $color-black;
      }
    }

    &-payment {
      background-color: $color-gray-4;
      color: $color-black;

      &:hover {
        background-color: $color-gray-3;
        color: $color-white;
      }
    }
  }

  &-icon {
    margin-left: -22px !important;
  }
}

.ZES {
  color: $color-red !important;
}

.ESARJ {
  color: $color-blue !important;
}
